[MASTER]
ignore=venv,tests
disable=
    missing-docstring,
    too-few-public-methods,
    too-many-arguments,
    too-many-instance-attributes,
    too-many-locals,
    too-many-lines,
    too-many-public-methods

[FORMAT]
max-line-length=100

[MESSAGES CONTROL]
disable=
    C0114,  # missing-module-docstring
    C0115,  # missing-class-docstring
    C0116,  # missing-function-docstring
    R0903,  # too-few-public-methods
    R0913,  # too-many-arguments
    R0902,  # too-many-instance-attributes
    R0914,  # too-many-locals
    R0915,  # too-many-statements

[REPORTS]
output-format = colorized
reports = no

[DESIGN]
max-args = 7
max-locals = 15
max-attributes = 10
max-returns = 6
max-branches = 12
max-statements = 50
